### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

In [4]:
school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [6]:
# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [7]:
#Total Number of schools
Total_schools = school_data_complete_df["school_name"].nunique()

Total_schools

15

In [8]:
#Total Number of students
Total_students = school_data_complete_df["student_name"].count()

Total_students

39170

In [9]:
#Total Budget
unique_budget_amt = school_data_complete_df["budget"].unique()
total_budget = unique_budget_amt.sum()

total_budget

24649428

In [10]:
#Average Math Score
Avg_Math_Score = school_data_complete_df["math_score"].mean()

Avg_Math_Score

78.98537145774827

In [11]:
#Average Reading Score
Avg_Reading_Score = school_data_complete_df["reading_score"].mean()

Avg_Reading_Score

81.87784018381414

In [12]:
#Percent of students with passing math score
num_students_pass_math = school_data_complete_df.loc[school_data_complete_df["math_score"] >=70, :]
perc_students_pass_math = len(num_students_pass_math)/Total_students *100
perc_students_pass_math

74.9808526933878

In [13]:
#Percent of students with passing reading score
num_students_pass_reading = school_data_complete_df.loc[school_data_complete_df["reading_score"] >=70, :]
perc_students_pass_reading = len(num_students_pass_reading)/Total_students *100
perc_students_pass_reading

85.80546336482001

In [14]:
#Percent of students with passing math and reading scores
num_students_pass_both = school_data_complete_df.loc[(school_data_complete_df["reading_score"] >=70) &
                                                     (school_data_complete_df["math_score"] >=70)]
perc_students_pass_both = len(num_students_pass_both)/Total_students *100

perc_students_pass_both

65.17232575950983

In [15]:
#Summary
district_summary_df = pd.DataFrame({"Total Number of Schools": [Total_schools],
                                    "Total Number of Students": [Total_students],
                                    "Total Budget": [total_budget],
                                    "Average Math Score": [Avg_Math_Score],
                                    "Average Reading Score": [Avg_Reading_Score],
                                    "% Passing Math": [perc_students_pass_math],
                                    "% Passing Reading":[perc_students_pass_reading],
                                    "% Overall Passing": [perc_students_pass_both]})
district_summary_df

,Total Number of Schools,Total Number of Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [16]:
# Number of students per school
school_num_students = school_data_complete_df["school_name"].value_counts()
school_num_students

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [57]:
#School Type
school_type = school_data_complete_df.groupby(["school_name"])["type"]
school_type

In [18]:
#Total School Budget
school_budget = school_data_complete_df.groupby(["school_name"]).mean()["budget"]
school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [19]:
#Per Student Budget
per_student_budget = school_budget/school_num_students
per_student_budget

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [20]:
#Average Math Score
math_score_avg = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
math_score_avg

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [21]:
#Average Reading Score
reading_score_avg = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]
reading_score_avg

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [22]:
# Number of Students Passing Math

school_num_students_pass_math = school_data_complete_df.loc[school_data_complete_df["math_score"] >=70, :]
school_num_students_pass_math

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [23]:
# Total Number of Students per school passing math
math_score_count = school_num_students_pass_math["school_name"].value_counts()
math_score_count

Bailey High School       3318
Johnson High School      3145
Hernandez High School    3094
Rodriguez High School    2654
Wilson High School       2143
Figueroa High School     1946
Huang High School        1916
Ford High School         1871
Cabrera High School      1749
Wright High School       1680
Shelton High School      1653
Thomas High School       1525
Griffin High School      1371
Pena High School          910
Holden High School        395
Name: school_name, dtype: int64

In [24]:
#Percent of Students Passing Math

perc_students_pass_math = math_score_count/school_num_students *100
perc_students_pass_math

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: school_name, dtype: float64

In [25]:
# Number of Students Passing Reading

school_num_students_pass_reading = school_data_complete_df.loc[school_data_complete_df["reading_score"] >=70, :]
school_num_students_pass_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [26]:
# Total Number of Students per school passing reading
reading_score_count = school_num_students_pass_reading["school_name"].value_counts()
reading_score_count

Bailey High School       4077
Johnson High School      3867
Hernandez High School    3748
Rodriguez High School    3208
Figueroa High School     2381
Huang High School        2372
Wilson High School       2204
Ford High School         2172
Cabrera High School      1803
Wright High School       1739
Shelton High School      1688
Thomas High School       1591
Griffin High School      1426
Pena High School          923
Holden High School        411
Name: school_name, dtype: int64

In [27]:
#Percent of Students Passing Reading
perc_students_pass_reading = reading_score_count/school_num_students *100
perc_students_pass_reading

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: school_name, dtype: float64

In [28]:
# Number of Students passing math and reading
school_num_students_pass_both = school_data_complete_df.loc[(school_data_complete_df["reading_score"] >=70) &
                                                            (school_data_complete_df["math_score"] >=70)]
school_num_students_pass_both

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [29]:
# Total Number of Students per school passing math and reading
both_score_count = school_num_students_pass_both["school_name"].value_counts()
both_score_count

Bailey High School       2719
Johnson High School      2549
Hernandez High School    2481
Rodriguez High School    2119
Wilson High School       2068
Cabrera High School      1697
Wright High School       1626
Shelton High School      1583
Figueroa High School     1569
Huang High School        1561
Thomas High School       1487
Ford High School         1487
Griffin High School      1330
Pena High School          871
Holden High School        381
Name: school_name, dtype: int64

In [30]:
#Percent of Students Passing Reading and Math
perc_students_pass_both = both_score_count/school_num_students *100
perc_students_pass_both

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
Name: school_name, dtype: float64

In [31]:
school_summary_df = pd.DataFrame({#"School Type": school_type,
                                  "Total Number of Students": school_num_students,
                                  "Total School Budget": school_budget,
                                  "Per Student Budget": per_student_budget,
                                  "Average Math Score": math_score_avg,
                                  "Average Reading Score": reading_score_avg,
                                  "% Passing Math": perc_students_pass_math,
                                  "% Passing Reading": perc_students_pass_reading,
                                  "% Passing Overall": perc_students_pass_both})
school_summary_df

,Total Number of Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Bailey High School,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [32]:
#Sort Overall passing ascending
passing_sort = school_summary_df.sort_values("% Passing Overall", ascending=False)
passing_sort.head()

,Total Number of Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Cabrera High School,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [33]:
#Sort Overall passing descending
passing_sort = school_summary_df.sort_values("% Passing Overall")
passing_sort.head()

,Total Number of Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Rodriguez High School,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [34]:
#Average Math score by grade
math_score_avg = school_data_complete_df.groupby(["school_name", "grade"]).mean()["math_score"]

math_score_avg

school_name            grade
Bailey High School     10th     76.996772
                       11th     77.515588
                       12th     76.492218
                       9th      77.083676
Cabrera High School    10th     83.154506
                       11th     82.765560
                       12th     83.277487
                       9th      83.094697
Figueroa High School   10th     76.539974
                       11th     76.884344
                       12th     77.151369
                       9th      76.403037
Ford High School       10th     77.672316
                       11th     76.918058
                       12th     76.179963
                       9th      77.361345
Griffin High School    10th     84.229064
                       11th     83.842105
                       12th     83.356164
                       9th      82.044010
Hernandez High School  10th     77.337408
                       11th     77.136029
                       12th     77.186567
                       9th      77.438495
Holden High School     10th     83.429825
                       11th     85.000000
                       12th     82.855422
                       9th      83.787402
Huang High School      10th     75.908735
                       11th     76.446602
                       12th     77.225641
                       9th      77.027251
Johnson High School    10th     76.691117
                       11th     77.491653
                       12th     76.863248
                       9th      77.187857
Pena High School       10th     83.372000
                       11th     84.328125
                       12th     84.121547
                       9th      83.625455
Rodriguez High School  10th     76.612500
                       11th     76.395626
                       12th     77.690748
                       9th      76.859966
Shelton High School    10th     82.917411
                       11th     83.383495
                       12th     83.778976
                       9th      83.420755
Thomas High School     10th     83.087886
                       11th     83.498795
                       12th     83.497041
                       9th      83.590022
Wilson High School     10th     83.724422
                       11th     83.195326
                       12th     83.035794
                       9th      83.085578
Wright High School     10th     84.010288
                       11th     83.836782
                       12th     83.644986
                       9th      83.264706
Name: math_score, dtype: float64

In [35]:
#Average Math Scores Dataframe
avg_math_scores_by_grade_df = pd.DataFrame ({"Average Math Score": math_score_avg})
avg_math_scores_by_grade_df

                             Average Math Score
school_name           grade
Bailey High School    10th            76.996772
                      11th            77.515588
                      12th            76.492218
                      9th             77.083676
Cabrera High School   10th            83.154506
                      11th            82.765560
                      12th            83.277487
                      9th             83.094697
Figueroa High School  10th            76.539974
                      11th            76.884344
                      12th            77.151369
                      9th             76.403037
Ford High School      10th            77.672316
                      11th            76.918058
                      12th            76.179963
                      9th             77.361345
Griffin High School   10th            84.229064
                      11th            83.842105
                      12th            83.356164
                      9th             82.044010
Hernandez High School 10th            77.337408
                      11th            77.136029
                      12th            77.186567
                      9th             77.438495
Holden High School    10th            83.429825
                      11th            85.000000
                      12th            82.855422
                      9th             83.787402
Huang High School     10th            75.908735
                      11th            76.446602
                      12th            77.225641
                      9th             77.027251
Johnson High School   10th            76.691117
                      11th            77.491653
                      12th            76.863248
                      9th             77.187857
Pena High School      10th            83.372000
                      11th            84.328125
                      12th            84.121547
                      9th             83.625455
Rodriguez High School 10th            76.612500
                      11th            76.395626
                      12th            77.690748
                      9th             76.859966
Shelton High School   10th            82.917411
                      11th            83.383495
                      12th            83.778976
                      9th             83.420755
Thomas High School    10th            83.087886
                      11th            83.498795
                      12th            83.497041
                      9th             83.590022
Wilson High School    10th            83.724422
                      11th            83.195326
                      12th            83.035794
                      9th             83.085578
Wright High School    10th            84.010288
                      11th            83.836782
                      12th            83.644986
                      9th             83.264706

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [36]:
#Average Reading score by grade
reading_score_avg = school_data_complete_df.groupby(["school_name", "grade"]).mean()["reading_score"]

reading_score_avg

school_name            grade
Bailey High School     10th     80.907183
                       11th     80.945643
                       12th     80.912451
                       9th      81.303155
Cabrera High School    10th     84.253219
                       11th     83.788382
                       12th     84.287958
                       9th      83.676136
Figueroa High School   10th     81.408912
                       11th     80.640339
                       12th     81.384863
                       9th      81.198598
Ford High School       10th     81.262712
                       11th     80.403642
                       12th     80.662338
                       9th      80.632653
Griffin High School    10th     83.706897
                       11th     84.288089
                       12th     84.013699
                       9th      83.369193
Hernandez High School  10th     80.660147
                       11th     81.396140
                       12th     80.857143
                       9th      80.866860
Holden High School     10th     83.324561
                       11th     83.815534
                       12th     84.698795
                       9th      83.677165
Huang High School      10th     81.512386
                       11th     81.417476
                       12th     80.305983
                       9th      81.290284
Johnson High School    10th     80.773431
                       11th     80.616027
                       12th     81.227564
                       9th      81.260714
Pena High School       10th     83.612000
                       11th     84.335938
                       12th     84.591160
                       9th      83.807273
Rodriguez High School  10th     80.629808
                       11th     80.864811
                       12th     80.376426
                       9th      80.993127
Shelton High School    10th     83.441964
                       11th     84.373786
                       12th     82.781671
                       9th      84.122642
Thomas High School     10th     84.254157
                       11th     83.585542
                       12th     83.831361
                       9th      83.728850
Wilson High School     10th     84.021452
                       11th     83.764608
                       12th     84.317673
                       9th      83.939778
Wright High School     10th     83.812757
                       11th     84.156322
                       12th     84.073171
                       9th      83.833333
Name: reading_score, dtype: float64

In [37]:
#Average Reading Scores by grade Dataframe
avg_reading_scores_by_grade_df = pd.DataFrame ({"Average Reading Score": reading_score_avg})
avg_reading_scores_by_grade_df

                             Average Reading Score
school_name           grade
Bailey High School    10th               80.907183
                      11th               80.945643
                      12th               80.912451
                      9th                81.303155
Cabrera High School   10th               84.253219
                      11th               83.788382
                      12th               84.287958
                      9th                83.676136
Figueroa High School  10th               81.408912
                      11th               80.640339
                      12th               81.384863
                      9th                81.198598
Ford High School      10th               81.262712
                      11th               80.403642
                      12th               80.662338
                      9th                80.632653
Griffin High School   10th               83.706897
                      11th               84.288089
                      12th               84.013699
                      9th                83.369193
Hernandez High School 10th               80.660147
                      11th               81.396140
                      12th               80.857143
                      9th                80.866860
Holden High School    10th               83.324561
                      11th               83.815534
                      12th               84.698795
                      9th                83.677165
Huang High School     10th               81.512386
                      11th               81.417476
                      12th               80.305983
                      9th                81.290284
Johnson High School   10th               80.773431
                      11th               80.616027
                      12th               81.227564
                      9th                81.260714
Pena High School      10th               83.612000
                      11th               84.335938
                      12th               84.591160
                      9th                83.807273
Rodriguez High School 10th               80.629808
                      11th               80.864811
                      12th               80.376426
                      9th                80.993127
Shelton High School   10th               83.441964
                      11th               84.373786
                      12th               82.781671
                      9th                84.122642
Thomas High School    10th               84.254157
                      11th               83.585542
                      12th               83.831361
                      9th                83.728850
Wilson High School    10th               84.021452
                      11th               83.764608
                      12th               84.317673
                      9th                83.939778
Wright High School    10th               83.812757
                      11th               84.156322
                      12th               84.073171
                      9th                83.833333

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [44]:
#Creating bins and labels for dollar amount groups
bins = [575, 599, 619, 639, 660]
group_labels = ["575 - 599", "600 - 619", "620 - 639", "640 - 660"]

In [45]:
# Enter info into bins
pd.cut(school_summary_df["Per Student Budget"], bins, labels=group_labels)

Bailey High School       620 - 639
Cabrera High School      575 - 599
Figueroa High School     620 - 639
Ford High School         640 - 660
Griffin High School      620 - 639
Hernandez High School    640 - 660
Holden High School       575 - 599
Huang High School        640 - 660
Johnson High School      640 - 660
Pena High School         600 - 619
Rodriguez High School    620 - 639
Shelton High School      600 - 619
Thomas High School       620 - 639
Wilson High School       575 - 599
Wright High School       575 - 599
Name: Per Student Budget, dtype: category
Categories (4, object): ['575 - 599' < '600 - 619' < '620 - 639' < '640 - 660']

In [46]:
#Put the new group column into the dataframe
school_summary_df["Budget Group"] = pd.cut(school_summary_df["Per Student Budget"], bins, labels=group_labels)
school_summary_df

,Total Number of Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall,Budget Group
Bailey High School,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,620 - 639
Cabrera High School,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,575 - 599
Figueroa High School,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,620 - 639
Ford High School,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,640 - 660
Griffin High School,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,620 - 639
Hernandez High School,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,640 - 660
Holden High School,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,575 - 599
Huang High School,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,640 - 660
Johnson High School,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,640 - 660
Pena High School,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,600 - 619
Rodriguez High School,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,620 - 639
Shelton High School,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,600 - 619
Thomas High School,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,620 - 639
Wilson High School,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,575 - 599
Wright High School,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,575 - 599

In [49]:
#Group the dataframe by the new column and set the columns
school_summary_group = school_summary_df.groupby("Budget Group")[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Passing Overall"]].mean()
school_summary_group

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Budget Group,,,,,
575 - 599,83.455399,83.933814,93.460096,96.610877,90.369459
600 - 619,83.599686,83.885211,94.230858,95.900287,90.216324
620 - 639,79.474551,82.120471,77.139934,87.468080,68.476495
640 - 660,77.023555,80.957446,66.701010,80.675217,53.717613

## Scores by School Size

* Perform the same operations as above, based on school size.

In [52]:
#Creating bins and labels for number of students groups
bins = [0, 1000, 2000, 5000]
group_labels = ["Small(<1000)", "Medium(1000-2000)", "Large(2000-5000)"]

In [53]:
# Enter info into bins
pd.cut(school_summary_df["Total Number of Students"], bins, labels=group_labels)

Bailey High School        Large(2000-5000)
Cabrera High School      Medium(1000-2000)
Figueroa High School      Large(2000-5000)
Ford High School          Large(2000-5000)
Griffin High School      Medium(1000-2000)
Hernandez High School     Large(2000-5000)
Holden High School            Small(<1000)
Huang High School         Large(2000-5000)
Johnson High School       Large(2000-5000)
Pena High School              Small(<1000)
Rodriguez High School     Large(2000-5000)
Shelton High School      Medium(1000-2000)
Thomas High School       Medium(1000-2000)
Wilson High School        Large(2000-5000)
Wright High School       Medium(1000-2000)
Name: Total Number of Students, dtype: category
Categories (3, object): ['Small(<1000)' < 'Medium(1000-2000)' < 'Large(2000-5000)']

In [54]:
#Put the new group column into the dataframe
school_summary_df["School Size"] = pd.cut(school_summary_df["Total Number of Students"], bins, labels=group_labels)
school_summary_df

,Total Number of Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall,Budget Group,School Size
Bailey High School,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,620 - 639,Large(2000-5000)
Cabrera High School,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,575 - 599,Medium(1000-2000)
Figueroa High School,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,620 - 639,Large(2000-5000)
Ford High School,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,640 - 660,Large(2000-5000)
Griffin High School,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,620 - 639,Medium(1000-2000)
Hernandez High School,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,640 - 660,Large(2000-5000)
Holden High School,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,575 - 599,Small(<1000)
Huang High School,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,640 - 660,Large(2000-5000)
Johnson High School,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,640 - 660,Large(2000-5000)
Pena High School,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,600 - 619,Small(<1000)
Rodriguez High School,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,620 - 639,Large(2000-5000)
Shelton High School,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,600 - 619,Medium(1000-2000)
Thomas High School,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,620 - 639,Medium(1000-2000)
Wilson High School,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,575 - 599,Large(2000-5000)
Wright High School,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,575 - 599,Medium(1000-2000)

In [55]:
#Group the dataframe by the new column and set the columns
school_summary_group = school_summary_df.groupby("School Size")[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Passing Overall"]].mean()
school_summary_group

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
School Size,,,,,
Small(<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium(1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large(2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type