### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

In [4]:
school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [6]:
# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [7]:
#Total Number of schools
Total_schools = school_data_complete_df["school_name"].nunique()

Total_schools

15

In [8]:
#Total Number of students
Total_students = school_data_complete_df["student_name"].count()

Total_students

39170

In [9]:
#Total Budget
unique_budget_amt = school_data_complete_df["budget"].unique()
total_budget = unique_budget_amt.sum()

total_budget

24649428

In [10]:
#Average Math Score
Avg_Math_Score = school_data_complete_df["math_score"].mean()

Avg_Math_Score

78.98537145774827

In [11]:
#Average Reading Score
Avg_Reading_Score = school_data_complete_df["reading_score"].mean()

Avg_Reading_Score

81.87784018381414

In [21]:
#Percent of students with passing math score
num_students_pass_math = school_data_complete_df.loc[school_data_complete_df["math_score"] >=70, :]
perc_students_pass_math = len(num_students_pass_math)/Total_students *100
perc_students_pass_math

74.9808526933878

In [22]:
#Percent of students with passing reading score
num_students_pass_reading = school_data_complete_df.loc[school_data_complete_df["reading_score"] >=70, :]
perc_students_pass_reading = len(num_students_pass_reading)/Total_students *100
perc_students_pass_reading

85.80546336482001

In [23]:
#Percent of students with passing math and reading scores
num_students_pass_both = school_data_complete_df.loc[school_data_complete_df["reading_score"] >=70, : ]+school_data_complete_df.loc[school_data_complete_df["math_score"] >=70, : ]
perc_students_pass_both = len(num_students_pass_both)/Total_students

perc_students_pass_both

0.9561399029869798

In [24]:
#Summary
district_summary_df = pd.DataFrame({"Total Number of Schools": [Total_schools],
                                    "Total Number of Students": [Total_students],
                                    "Total Budget": [total_budget],
                                    "Average Math Score": [Avg_Math_Score],
                                    "Average Reading Score": [Avg_Reading_Score],
                                    "% Passing Math": [perc_students_pass_math],
                                    "% Passing Reading":[perc_students_pass_reading],
                                    "% Overall Passing": [perc_students_pass_both]})
district_summary_df

,Total Number of Schools,Total Number of Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,0.95614

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type