### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

In [4]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [5]:
# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

In [4]:
school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [6]:
# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [20]:
#Total Number of schools
Total_schools = school_data_complete_df["school_name"].nunique()
school_data_complete_df["Total Schools"] = Total_schools

school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Total Schools
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,15
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,15
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,15
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,15
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,15

In [47]:
#Total Number of students
Total_students = school_data_complete_df["student_name"].count()
school_data_complete_df["Total Students"] = Total_students

school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Total Schools,Total Students
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,15,39170
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,15,39170
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,15,39170
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,15,39170
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,15,39170

In [48]:
#Total Budget
Total_Budget = school_data_complete_df["budget"].unique()
school_data_complete_df["Total Budget"] = Total_Budget.sum()
#Total_Budget.sum()

school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Total Schools,Total Students,Total Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,15,39170,24649428
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,15,39170,24649428
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,15,39170,24649428
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,15,39170,24649428
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,15,39170,24649428

In [55]:
#Average Math Score
Avg_Math_Score = school_data_complete_df["math_score"]
school_data_complete_df["Average Math Score"] = Avg_Math_Score.mean()
#Avg_Math_Score.mean()
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Total Schools,Total Students,Total Budget,Average Math Score
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,15,39170,24649428,78.985371
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,15,39170,24649428,78.985371
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,15,39170,24649428,78.985371
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,15,39170,24649428,78.985371
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,15,39170,24649428,78.985371

In [56]:
#Average Reading Score
Avg_Reading_Score = school_data_complete_df["reading_score"]
school_data_complete_df["Average Reading Score"] = Avg_Reading_Score.mean()
#Avg_Reading_Score.mean()
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,15,39170,24649428,78.985371,81.87784
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,15,39170,24649428,78.985371,81.87784
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,15,39170,24649428,78.985371,81.87784
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,15,39170,24649428,78.985371,81.87784
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,15,39170,24649428,78.985371,81.87784

In [65]:
#Math scores >= 70%
math_scores =

TypeError: '>' not supported between instances of 'list' and 'int'

In [39]:
#Test summary table
school_summary_df = school_data_complete_df[["Total Schools", "Total Students"]]
school_summary_df.head()

   Total Schools  Total Students
0             15           39170
1             15           39170
2             15           39170
3             15           39170
4             15           39170

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type